.app-container { 
  margin-top: 80px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-betwee;
  align-items: center;
  padding: 10px; 
  width: 100%; 
  background-color: #f8f9fa;
}

.title-section {
  text-align: center;
  flex: 1;
}

.right-section {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.login-button { 
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 16px;
  border-radius: 5px; 
  cursor: pointer;
  font-size: 16px;
  transition: opacity 0.3s ease-in-out;
  width: 100px; 
  height: 40px;
  text-align: center;
  display: flex; 
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  position: relative;
  margin-right: 25px;
}

.login-text {
  transition: opacity 0.3s ease-in-out;
}

.login-button:hover {
  background-color: #0056b3;
}

.fade-text {
  animation: fade 1.5s infinite; 
}

@keyframes fade {
  0% { opcacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


